node_modules/

.expo/
dist/
web-build/

/android
/ios
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

modules/**/nitrogen/generated/
modules/**/android/build/
modules/**/android/.cxx/
modules/**/android/local.properties
modules/**/ios/Pods/
modules/**/ios/build/
modules/**/build/


.orb-preview/

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo

expo-env.d.ts
